.container {
    min-height: 100vh;
    padding: 0 0.5rem;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.title {
    margin-bottom: 0;
}

.subtitle {
    margin-top: 0;
    color: var(--dark-grayish-blue-text);
    font-size: 0.9rem;
}

.mainCardList {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.todayCardList {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 20px;
}

.main {
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    width: 900px;
    margin: 0 auto;
}

@media (max-width: 600px) {
    .grid {
        width: 100%;
        flex-direction: column;
    }
}